{#
/**
 * Elasticraft plugin for Craft CMS 3.x
 *
 * Elasticraft Settings.twig
 *
 * @author    Peter Holme Obrestad
 * @copyright Copyright (c) 2017 Peter Holme Obrestad
 * @link      https://dfo.no
 * @package   Elasticraft
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("dfo\\elasticraft\\assetbundles\\elasticraft\\ElasticraftAsset") %}

<h2>Connection settings</h2>

{{ forms.textField({
    label: 'Elastic host',
    instructions: 'Enter Elasticsearch hosts here. Comma separated. Must be fully qualified urls.',
    id: 'hosts',
    name: 'hosts',
    value: settings['hosts']})
}}

{{ forms.textField({
    label: 'Elastic index name',
    instructions: 'Enter Elasticsearch index name here',
    id: 'indexName',
    name: 'indexName',
    value: settings['indexName']})
}}

<h2>Settings for the widget that is shown in the edit entry page</h2>

{{ forms.textField({
    label: 'Entry date indexed field path',
    instructions: 'Path to date indexed for entries in elasticsearch, use a dot notated string',
    id: 'entryDateIndexedFieldPath',
    name: 'entryDateIndexedFieldPath',
    value: settings['entryDateIndexedFieldPath']})
}}

<h2>Other settings</h2>

<p>You should also specify <code>indexOptions</code> and <code>transformers</code>. Copy <code>config.php</code> from the plugin directory to <code>elasticraft.php</code> in the Craft main <code>config</code> directory and fill out as necessary.</p>
