{#
/**
 * Elasticraft plugin for Craft CMS
 *
 * ElasticraftUtility Utility Content
 *
 * @author    Peter Holme Obrestad
 * @copyright Copyright (c) 2017 Peter Holme Obrestad
 * @link      https://dfo.no
 * @package   Elasticraft
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<form id="elasticraft-create-index-form" class="utility elasticraft" method="post" accept-charset="UTF-8">
  {{ csrfInput() }}
  <div id="connectionNotWorking" class="hidden">
    <h2>Connection not working</h2>
    <p>The connection to Elasticsearch is not working. Please check your config.</p>
    <input type="button" class="btn" name="elasticraft/default/ping" value="Check again" />
  </div>
  <div id="indexDoesNotExist" class="hidden">
    <h2>Index does not exist</h2>
    <p>The index named <code>{{ indexName }}</code> does not exist.</p>
    <div class="buttons">
      <input type="button" class="btn" name="elasticraft/default/create-index" value="Create index" />
    </div>
  </div>
  <div id="indexUtilities" class="hidden">
    <h2>Index status for <code>{{ indexName }}</code></h2>
    <p>Number of documents in index: <code id="numDocsIndexed"></code></p>
    <h2>Index utilities</h2>
    <div class="buttons">
      <div class="btngroup">
        <input type="button" class="btn success" name="elasticraft/default/reindex" value="Reindex all entries" />
      </div>
      <div class="btngroup">
        <label>test</label>
        <input type="button" class="btn" name="elasticraft/default/index-stats" value="Index stats" />
        <input type="button" class="btn" name="elasticraft/default/get-index" value="Get index" />
      </div>
      <div class="btngroup">
        <input type="button" class="btn error" name="elasticraft/default/delete-index" value="Delete index" />
      </div>
    </div>


    <div class="buttons">
      <div class="btngroup">
        <input type="button" class="btn" name="elasticraft/default/get-entries" value="Get 10 Craft entries" />
        <input type="button" class="btn" name="elasticraft/default/get-transformed-entries" value="Get 10 transformed entries" />
      </div>
    </div>
    <h2>Result</h2>
    <pre id="elasticraft-result"></pre>
  </div>
</form>