{#
/**
 * Elasticraft plugin for Craft CMS
 *
 * ElasticraftUtility Utility Content
 *
 * @author    Peter Holme Obrestad
 * @copyright Copyright (c) 2017 Peter Holme Obrestad
 * @link      https://dfo.no
 * @package   Elasticraft
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<form id="elasticraft-create-index-form" class="utility elasticraft" method="post" accept-charset="UTF-8">
  {{ csrfInput() }}
  <div id="connectionNotWorking" class="hidden">
    <h2>Connection not working</h2>
    <p>The connection to Elasticsearch is not working. Please check your config.</p>
    <input type="button" class="btn" name="elasticraft/default/ping" value="Check again" />
  </div>
  <div id="indexDoesNotExist" class="hidden">
    <h2>Index does not exist</h2>
    <p>Could not find the index named <code>{{ indexName }}</code> on the Elasticsearch server.</p>
    <div class="buttons">
      <input type="button" class="btn" name="elasticraft/default/recreate-index" value="Create index" />
      <input type="button" class="btn" name="elasticraft/default/ping" value="Check again" />
    </div>
  </div>
  <div id="indexUtilities" class="hidden">
    <h2>Index name: <code>{{ indexName }}</code></h2>
    <table id="documentCountByType" class="data">
      <thead><tr><th>Document type</th><th>Count</th></tr></thead>
      <tbody></tbody>
    </table>
    <h2>Index utilities</h2>
    <div class="buttons">
      <input type="button" class="btn success" name="elasticraft/default/recreate-index" value="Recreate index" />
      <input type="button" class="btn" name="elasticraft/default/ping" value="Refresh" />
    </div>
  </div>
</form>